
    /* CSS BY Athena O'Brien */

    /* IMPORTED FONTS */
    @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
   
    /* CSS RESET */
    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
    */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    /* ROOT VARIABLES */

    :root {
        --Teal :#4CA7C0;
        --Purple: #484FB7;
        --Lavender: #6B8FE7;
        --Yellow: #E9BB57; 
        --Pink:#D9526F;
        --Dark-gray:#1E1E1E; 
        --White:#ffffff; 

    }

    /* GLOBAL STYLES (mobile first/small) */

    h1 {
        font-family: 'Kavoon';
        font-size: 3em;
        color: var(--White);
        text-align: center;
    }

    h2 {
        font-family: 'Kavoon';
        font-size: 2em;
        padding-left: 5px;
    }

    nav h2 {
        font-family: 'Kavoon';
        font-size: 1.5em;
        text-align: center;
        font-style: italic;
    }

    nav li {
        font-family: 'Inter';
        font-size: 1em;
        color: var(--Purple);
        text-transform: uppercase;
        font-weight: bold;

        background-color: var(--White);
        text-align: center;
        margin: 5px; 
        padding: 10px;
    }

    h3 {
        font-family: 'Inter';
        font-size: 1.15em;
        padding-left: 5px;
    }

    h4 {
        font-family: 'Inter';
        font-size: 1.15em;
        

    }

    p {
        font-family: 'Inter';
        font-size: 1em;
    }

    small {
        font-family: 'Inter';
        font-size: small;
    }

    body {
        background-color: var(--Lavender);
        max-width: 450px;
        margin: 0 auto;
        
    }

    header {
        background-color: var(--Purple);
        padding: 20px;
    }

    header p {
        color: var(--White);
        text-align: center;
        font-style: italic;
    }

    nav {
        background-color: var(--Yellow);
        padding: 10px;
    }

    #services {
        background-color: var(--Purple);
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #services h4 {
        color: var(--Lavender);
        margin-top: 20px;
        margin-bottom: 10px;

    }

    #services p {
        color: var(--Dark-gray);

    }

    #services h2 {
        color: var(--White);
        padding-left: 10px;
    }

    #oneOnOne h3 {
        color: var(--Yellow);
        padding-left: 10px;
    }

   
    #personalDev {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;
    }

    
    #careerCoaching {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;
    }

    
    #relationshipCoaching {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;
    }

     
    #group h3 {
        color: var(--Yellow);
        padding-left: 10px;

    }

    #group h4 {
        color: var(--Lavender);
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #group p {
        color: var(--Dark-gray);
    }

    #supportiveCommunity {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;
    }

     #supportiveCommunity h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #focusedSessions {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;
    }

     #focusedSessions h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    #workshops h3 {
        color: var(--Yellow);
        padding-left: 10px;

    }

    #workshops h4 {
        color: var(--Lavender);

    }

    #workshops p {
        color: var(--Dark-gray);

    }

    #interactiveLearning {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;

    }

     #interactiveLearning h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;

    }

    #courses h3 {
        color: var(--Yellow);
        padding-left: 10px;

    }

    #courses h4 {
        color: var(--Lavender);
    }

    #courses p {
        color: var(--Dark-gray);
    }
    
    #flexibleLearning {
        background-color: var(--White);
        margin: 20px;
        padding: 20px;
        border-radius: 5%;
    }

     #flexibleLearning h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }

    

    #whyChoose {
        font-family: 'Inter';
        background-color: var(--Pink);
        padding: 10px;

    }

    #whyChoose h2 {
        color: var(--White);

    }

    #whyChoose li {
        font-family: 'Inter';
        font-size: medium;
        font-weight: bold;
        color: var(--Dark-gray);
               
    }

    li.personal {
        background-color: var(--Teal);
        text-align: center;
        margin: 10px;
        padding: 30px;
        border-radius: 5%;
    }

     li.proven {
        background-color: var(--Lavender);
        text-align: center;
        margin: 10px;
        padding: 30px;
        border-radius: 5%;
    }

     li.supportive {
        background-color: var(--Yellow);
        text-align: center;
        margin: 10px;
        padding: 30px;
        border-radius: 5%;
    }

     li.flexible {
        background-color: var(--White);
        text-align: center;
        margin: 10px;
        padding: 30px;
        border-radius: 5%;
    }

    .chooseTableWrapper{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    #pricing {
        background-color: var(--Purple);
        padding-bottom: 10px;
        padding-top: 10px;
        padding-left: 10px;
    }

    #pricing h2 {
        color: var(--White);
    }

    #pricing h3 {
        color: var(--Yellow);
    }

    table{
        font-family: 'Inter';
        margin: 10px;
        border: 1px solid var(--Yellow);
        
    }

    #oneOnOnePrice table {
       display: flex;
       justify-content: center;
       border: none;

    }

    #groupPrice table {
        display: flex;
        justify-content: center;
        border: none;

    }

    #workshopPrice table {
        display: flex;
        justify-content: center;
        border: none;

    }

    #onlineCoursePrice table {
        display: flex;
        justify-content: center;
        border: none;

    }

    th {
        background-color: var(--Yellow);
        font-weight: bold;
        padding: 10px;
        border: 1px solid var(--Yellow);
        
    }

    td {
        padding: 10px;
        background-color: var(--White);
        border: 1px solid var(--Yellow);
    }

    #firstStep {
        background-color: var(--Pink);
        margin: 0px;
        padding-bottom: 10px;
        
    }

    #firstStep h2 {
        color: var(--White);
        margin: 0px;
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    #firstStep p {
        color: var(--White);
        padding-left: 10px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    #firstStep a {
        font-family: 'Inter';
        text-transform: uppercase;
        font-weight: bold;
        color: var(--Dark-gray);
        text-align: center;
        text-decoration: none;
        
        display: block;
        margin: 0 auto; 
        width: 75%;
        padding: 10px;
        background-color: var(--White);
        border-radius: 0.5rem;
        box-shadow: 10px 5px 5px var(--Dark-gray);
    }

    footer {
        font-family: 'Inter';
        background-color: var(--Purple);
        margin-top: 0;
        padding: 50px;
        padding-right: 50px;
    }

    footer small {
        color: var(--White);
        display: inline-flex;
        justify-content: center;
        margin: 20px;
    }

    

/*All other text
Inter*/



 